# Token z Discord Developer Portalu (nový bot)
DISCORD_TOKEN=tvuj_novy_token_zde

# ID kanálu kde uživatelé píší "done" (na novém serveru)
CODES_CHANNEL_ID=id_kanalu_zde

# Volitelně: vlastní zpráva poslaná do DM
CODES_MESSAGE=Here's your secret code!
