# Token z Discord Developer Portalu
DISCORD_TOKEN=tvuj_token_zde

# ID kanálu kde uživatelé píší "done"
CODES_CHANNEL_ID=1498405553838489763

# Volitelně: vlastní zpráva poslaná do DM
CODES_MESSAGE=Here's your secret code 1111 - infinity speed
